{% extends "base.html" %} 
{% block content %}
<header>
<h1>This is the About page</h1>
</header>
<main class="container">
<container class="hero">
    <img href="">
</container>
<div class="about">
    <h1>Baki</h1>
    <p class="secondary">
        I'm what my parents would call a toasted marshmellow shiba. I think my clasification is considered cream. I'm about <!--return age--> years old. I'm a bit on the thicc side weighing about <!-- return weight --> lbs or <!-- Kilo conversetion--> Kg 
    </p>
</div>
</main>


{% endblock %}