{% extends "base.html" %} 
{% block content %}
<header>
<h1>This is the About page</h1>
</header>
<main class="container">
<container class="hero">
<!-- GIF of baki--> 
    <img href="https://www.instagram.com/p/C_TpNx0ScM9/?img_index=1&hl=en">
</container>
<div class="about">
    <div>
        <h1>Hello My name is Baki</h1>
    </div>
    <div> 
        <!--headshopt of baki-->
        <img > 
    </div>
    
    <p class="secondary">
        I'm what my parents would call a toasted mallow, but my clasification is considered a Cream Shiba. I'm about <!--return age--> years old. I'm a bit on the thicc side weighing about <!-- return weight --> lbs or <!-- Kilo conversetion--> Kg 
    </p>
</div>
</main>


{% endblock %}