{% extends "base.html" %} 
{% block content %}
<h1>This is the Live Stream page</h1>
<div class="container grid"> 
    <body>
        <main class="container-fluid">
            <!-- Sociablekit embed for twitch api www.sociablekit.com/-->
            <div class='sk-ww-twitch-live-videos' data-embed-id='25461134'></div><script src='https://widgets.sociablekit.com/twitch-live-videos/widget.js' async defer></script>
        </main>
      </body>
</div>
{% endblock %}
<!-- 
look up htmx.org. modifies attb of objects. 
look up alpine.js (alpinejs.dev) minimal written JS 
Django models - database things 

-->